# .NET
bin/
obj/
*.user
*.rsuser
*.suo
*.userprefs

# Logs
*.log

# Temporary files
*.tmp
*.temp

# IDE files
.vscode/
.idea/

# Build artifacts
Lab1/INPUT.TXT
Lab1/OUTPUT.TXT
Lab2/INPUT.TXT
Lab2/OUTPUT.TXT
